@charset "UTF-8";

/* globais */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: auto;
  min-height: 100vh;
}

body {
  background-image: linear-gradient(180deg,   #182848 0%, #4b6cb7
  100%);
}
input:focus {outline: none;}

/* main content */

main {
  width: 95%;
  max-width: 900px;
  min-height: 80vh;
  margin: 2rem auto;
  box-shadow: -1px 10px 18px -5px rgba(0,0,0,0.66);
  -webkit-box-shadow: -1px 10px 18px -5px rgba(0,0,0,0.66);
  -moz-box-shadow: -1px 10px 18px -5px rgba(0,0,0,0.66);
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
}

/* banner */

main #resister-banner {
  background: url('../img/bg-wrapper.jpg') center /cover;
  width: 50%;
}
main .banner-layer {
  background-color:  #18284860 ;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 2rem;
}
main .banner-layer h1 {
  font-size: 3.5rem;
  color: #fff;
  word-spacing: 50rem;
}

/* form */

main #register-form {
  background-color: #fdfdfd;
  color: #333;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
main #register-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2.2rem;
}
main #register-form p {
  color: #555555;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: .9rem;
}
main #register-form .form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
main .form-control label {
  margin-bottom: .6rem;
  font-weight: bold;
}
main .form-control input {
  border: none;
  border-bottom: 1px solid #aaa;
  padding: .6rem 0;
}
main .form-generate-password {
  margin-top: 2rem;
}
main #generate-password {
  font-weight: bold;
  cursor: pointer;
  transition: .5s;
}
main #generate-password:hover {
  color: #4b6cb7;
}
main #generated-password {
  border: 1.5px solid #aaa;
  border-radius: .5rem;
  padding: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  display: none;
}
main #generated-password p {
  font-size: 1rem;
  color: #20c200;
  margin-bottom: .5rem;
}
main #register-form input[type="submit"] {
  background-color: #4dee68;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1rem;
  transition: .3s;
  margin: 1.5rem auto 0;
  display: block;

}
main #register-form input[type="submit"]:hover {
  background-color: #4fff6c;
}